# Dependencias
**/node_modules/

# Variables de entorno
**/.env

# Base de datos local SQLite
backend/data.sqlite
backend/data.sqlite-shm
backend/data.sqlite-wal

# Builds
frontend/dist/
frontend/.angular/
backend/build/
backend/target/
backend/.gradle/
**/build/
**/target/
**/.gradle/

# IDE
.idea/workspace.xml
.idea/shelf/
.idea/tasks.xml
*.iml
.vscode/

# Sistema
.DS_Store
*.log

# Documentos
*.pdf
*.pptx

